{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="grid">
            <div class="card">
                <h2>Policies</h2>
                <p class="count">{{ count_policies }}</p>
                <a href="{% url 'insuarance:view_policy' %}" class="view-more">View More</a>
            </div>
            <div class="card">
                <h2>Vehicles</h2>
                <p class="count">{{ count_vehicle }}</p>
                <a href="{% url 'insuarance:view_vehicles' %}" class="view-more">View More</a>
            </div>
            <div class="card">
                <h2>Customers</h2>
                <p class="count">{{ count_customer }}</p>
                <a href="{% url 'insuarance:view_customers' %}" class="view-more">View More</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}