
{% extends 'base.html' %}
{% block content %}
<body>
<center><h1>Registered Vehicles</h1></center>
<center><div class="btn btn-success"><a href="{% url 'insuarance:add_vehicle'%}">Add vehicle</a></div></center>
{% for vehicle in vehicles %}
    <div class="vehicle-card">

        <center><h1>{{vehicle.number_plate}} </h1></center>

       <center><p><h3>Owner:</h3> {{ vehicle.owner }}</p>
        <p><h3>Model:</h3> {{ vehicle.model }}</p>
        <p><h3>Make:</h3> {{ vehicle.make }}</p>


        <!-- Add more details as needed -->

        <a href="{% url 'insuarance:view_vehicle' vehicle.id %}">View More</a>
           </center>
    </div>
{% endfor %}
</body>
{% endblock %}